.cardHeaderLayout {
    composes: cardHeaderLayout from './../../style/shared.module.css';
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    flex-shrink: 0;
}

.cardHeaderTextsLayout {
    composes: cardHeaderTextsLayout from './../../style/shared.module.css';
}

.name {
    composes: textBold from './../../style/shared.module.css';
}

.username {
    composes: textBase from './../../style/shared.module.css';
}


